<li class="topic">
  <div class="header">
    <span class="topic-title"><%- topictitle %></span>
    <div class="response-count"><%- responseCount %> comments</div>
  </div>
  <div class="responses"></div>
</li>